<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.dashboard')}}">Dashboard</a></li>
            <li><a href="{{ url_for('main.mushroomatlas')}}">Atlas Grzybów</a></li>
            <li><a href="{{ url_for('main.map')}}">Mapa Grzybów</a></li>
            <li><a href="{{ url_for('main.posts_page') }}">Posty</a></li>

        </ul>
        
    </nav>

    <h1 id="welcomeMessage"></h1>
    <p id="statusMessage"></p>

    <a href="{{ url_for('main.logout') }}">Log out</a>

    <script>
        const isLoggedIn = '{{ session.get("username") }}' !== '';
        const isAdmin = JSON.parse('{{ session.get("isAdmin", False) | tojson }}');
           
        
        window.onload = function() {
            if (isLoggedIn) {
                document.getElementById('welcomeMessage').innerHTML = `Welcome, {{ username }}!`;
                document.getElementById('statusMessage').innerHTML = 'You are logged in as a registered user.';
                if (isAdmin) {
                    console.log(isAdmin)
                    document.getElementById('welcomeMessage').innerHTML = `Welcome, Admin!`;
                    document.getElementById('statusMessage').innerHTML = 'You have admin privileges.';
                } 
            } else {
                document.getElementById('welcomeMessage').innerHTML = 'Welcome!';
                document.getElementById('statusMessage').innerHTML = 'You are logged in as a guest.';
            }
        }
    </script>
</body>

</html>